{% extends 'shop/basic.html' %}

{% block title %} About - E-Shopping Cart{% endblock %}

{% block body %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 mb-4">E-Shopping Cart!</h1>
            <p style="font-size: large; font-family: Arial, Helvetica, sans-serif;">E-Shopping Cart Pvt Ltd. is an
                Indian electronic commerce company based in Bengaluru, India. Founded by
                Harshit Agrawal in 2015, the company initially focused on book sales, before expanding
                into other product categories such as consumer electronics, fashion, and lifestyle products.</p>

            <p style="font-size: large; font-family: Arial, Helvetica, sans-serif;"> The service competes primarily with
                Amazon' s Indian subsidiary, and the domestic rival Snapdeal.[5][6]
                as of March 2017, E-Shopping Cart held a 39.5% market share of India's e-commerce industry.[7]
                E-Shopping Cart is significantly dominant in the sale of apparel (a position that was bolstered by its
                acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the
                sale of electronics and mobile phones.[8] E-Shopping Cart also owns PhonePe, a mobile payments service
                based on the Unified Payments Interface (UPI).</p>

            <p style="font-size: large; font-family: Arial, Helvetica, sans-serif;">In August 2018, U.S.-based retail
                chain Walmart acquired a 77% controlling stake in E-Shopping Cart for
                US$16 billion, valuing it at $22 billion.</p>
        </div>
    </div>

    {% endblock %}