{% extends 'shop/basic.html' %}
{% block title%} Order Tracker - E-Shopping Cart{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h3 class="mb-4">Enter your Order Id and Email address to track your order</h3>
        <form method="post" action="#" id="trackerForm">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="orderId">Order Id</label>
                    <input type="text" class="form-control" id="order_id" name="order_id" placeholder="Order Id">
                </div>
                <div class="form-group col-md-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
                </div>
            </div>
            <div class="form-row mt-3">
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
    </div>
    <hr>
    <div class="col my-4">
        <p id="track" style="display: none;"></p>
        <div id="div1" style="display: none;">
            <h3>Order Details</h3>
            <div class="col-8 my-4">
                <ul class="list-group" id="orderItems">
                </ul>
            </div>
        </div>
        <div id="div2" style="display: none;">
            <h3>Order Status</h3>
            <div class="col-8 my-4">
                <ul class="list-group" id="status">
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% load static %}
<script src="{% static 'shop/tracker.js' %}"></script>
{% endblock %}